@model IEnumerable<Carrello>
@{
    ViewData["Title"] = "Carrello";
}

<h1>Carrello</h1>

<table class="table table-bordered">
    <tr>
        <th>Id Carrello</th>
        <th>Quantità</th>
        <th>Prezzo</th>
        <th>Id Prodotto</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.IdCarrello</td>
            <td>@item.QuantitaTotale</td>
            <td>@item.Prezzo</td>
            <td>@item.IdProdotto</td>
        </tr>
    }
</table>