@model Utente
@{
    ViewData["Title"] = "EliminaUtente";
}

<h1>Elimina Utente</h1>

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col">
                ID utente
            </div>
            <div class="col">
                <input type="text" name="IdUtente" value="@Model.IdUtente" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                Nome Utente:
            </div>
            <div class="col">
                <input type="text" name="NomeUtente" value="@Model.NomeUtente" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                Id Carrello:
            </div>
            <div class="col">
                <input type="text" name="IdCarrello" value="@Model.IdCarrello" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
</form>
