
@{
    ViewData["Title"] = "NuovoProdotto";
}

<h1>Aggiungi Nuovo Prodotto</h1>

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col">
                ID prodotto
            </div>
            <div class="col">
                <input type="text" name="IdProdotto" value="@ViewBag.NuovoId" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                Nome:
            </div>
            <div class="col">
                <input type="text" name="Nome" value="" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                Prezzo:
            </div>
            <div class="col">
                <input type="text" name="Prezzo" value="" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                Quantità:
            </div>
            <div class="col">
                <input type="text" name="Quantita" value="" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <input type="submit" value="Salva" />
            </div>
        </div>
    </div>
</form>